<div class="main-nav desktop">
	<div class="nav-wrapper">
		<div class="logo">
			<a href="/"><img src="/sites/default/files/NK_Logo.svg" alt="NK"></a>
		</div>
		{{page.nav}}
	</div>
</div>
<div class="main-nav mobile">
	<div class="nav-wrapper">
		<div class="logo">
			<a href="/"><img src="/sites/default/files/NK_Logo.svg" alt="NK"></a>
		</div>
		<div class="menu-toggle">
			<div class='mobile-menu active'>
				<img src='/themes/practice/img/akb-mobile-menu.svg' alt='Mobile Menu'>
			</div>
			<div class='mobile-close'>
				<img src='/themes/practice/img/akb-mobile-close.svg' alt='Close Menu'>
			</div>
		</div>
	</div>
	{{page.nav}}
</div>
<header>
	{{page.header}}
</header>

<div class='container'>
	{{page.precontent}}
</div>
<div class='main-content'>
	{{page.content}}
</div>
<div id="d3-container"></div>
<footer id="main">
	<div class='container'>
		{{page.footer}}
	</div>
</footer>