<div class="main-nav">
	<div class='container'>
		{{page.nav}}
	</div>
</div>
{{page.stripe}}
<header>
	{{page.header}}
</header>

{{page.precontent}}
<div class='main-content'>
	<div class='container'>
		{{page.content}}
	</div>
</div>

{{page.prefooter}}

<footer id="main">
	<div class='container'>
		{{page.footer}}
	</div>
</footer>